<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns = "http://www.w3.org/ns/widgets" xmlns:gap = "http://phonegap.com/ns/1.0" id = "com.phonegap.example" version   = "1.0.0">
	<name>IMarket</name>
	<description>Intelligence Market for retail</description>
	<author href="http://www.ejedigital.cl" email="victor.arellano@ejedigital.cl">IMASD S.A.</author>
	<preference name="orientation" value="portrait" /> 
	<feature name="http://api.phonegap.com/1.0/camera"/>
	<feature name="http://api.phonegap.com/1.0/file"/>
	<feature name="http://api.phonegap.com/1.0/geolocation"/>
	<feature name="http://api.phonegap.com/1.0/media"/>
	<feature name="http://api.phonegap.com/1.0/network"/>
	<icon src="icon.png" width="50" height="50" />
</widget>
